@model List<Author>

<h3 class="text-center">Yazar Listeleme Sayfası</h3>
<a asp-controller="Author" asp-action="Create" class="btn btn-primary mb-2" style="float:right;">Yeni Ekle</a>

 
<table class="table table-striped">

    <tr>
        <th>#</th>
        <th>Yazar Ad</th>
        <th>Yazar Soyad</th>
        <th>Aksiyonlar</th>
    </tr>

    @for (var i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@(i+1)</td>
            <td>@Model[i].FirstName</td>
            <td>@Model[i].LastName</td>
            <td>
                <a asp-controller="Author" asp-action="Edit" asp-route-id="@Model[i].Id">Düzenle</a>
                <a asp-controller="Author" asp-action="Delete" asp-route-id="@Model[i].Id">Sil</a>
            </td>
        </tr>
    }

</table>